/hy-tmp/echoRealm/3DGS_pytorch/data/colmap filter=lfs diff=lfs merge=lfs -text
/hy-tmp/echoRealm/3DGS_pytorch/data/mip360/ filter=lfs diff=lfs merge=lfs -text
/hy-tmp/echoRealm/3DGS_pytorch/data/tandt/ filter=lfs diff=lfs merge=lfs -text
